html{
    background-color: black;
}

div{
    width: 50%;
    margin-top: 2.5%;
    margin-left: 25%;
}

img{
    width: 100%;
    border: 5px solid white;
}

.text{
    color: white;
    background-color: black;
    text-align: center;
}

h1{
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
}